<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta -->
    <%- include ../../partials/meta.ejs %>
    <title>AdminLTE 3 | Dashboard</title>

    <!-- css -->
    <%- include ../../partials/css.ejs %>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <!-- Preloader -->
      <%- include ../../partials/preloader.ejs %>

      <!-- navbar -->
      <%- include ../../partials/navbar.ejs %>

      <!-- sidebar -->
      <%- include ../../partials/sidebar.ejs %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Tambah Payment</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item">
                    <a href="/payment"></a>Payment
                  </li>
                  <li class="breadcrumb-item active">Tambah</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tambah Payment</h3>
                    </div>
                    <form action="/payment/create" method="POST">
                      <div class="card-body">
                        <div class="form-group">
                          <label for="payment">Tipe Pembayaran</label>
                          <input
                            type="text"
                            name="type"
                            class="form-control"
                            id="type"
                            placeholder="Tipe Pembayaran"
                            required
                          />
                        </div>
                        <div class="form-group">
                          <label>Bank</label>
                          <div class="select2-purple">
                            <select class="form-control select2" data-placeholder='Pilih Bank' style="width: 100%;" name="banks" multiple required>
                              <% bank.forEach(bank => { %>
                              <option value="<%= bank._id %>"><%= bank.bankName %> - <%= bank.noRek %> (<%= bank.name%>)</option>
                              <% }) %>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer">
                        <button type="submit" class="btn btn-primary">
                          Simpan
                        </button>
                      </div>
                    </form>
                </div>
            </div>
          </div>
        </section>
      </div>
      <!-- footer -->
      <%- include ../../partials/footer.ejs %>
    </div>

    <!-- js -->
    <%- include ../../partials/js.ejs %>
  </body>
</html>
